@media (max-width: 780px) {
	.container {
		padding: 0 25px;
	}
}

@media (max-width: 400px) {
	.home {
		height: 50px;
	}

	.heading h2 {
		font-size: 24px;
	}

	.info__text h1 {
		font-size: 28px;
	}

	.info__text p {
		font-size: 18px;
		line-height: 24px;
	}

	.container {
		padding-top: 10px;
	}

	.profile {
		display: flex;
		flex-direction: column;
	}

	.links {
		padding: 0;
	}

	.link a p {
		margin-top: 5px;
	}

	.link__img {
		height: 30px;
	}

	a p {
		font-size: 15px;
	}

	.return__link a p {
		font-size: 18px;
		font-weight: 700;
	}

	.whoiam p {
		font-size: 18px;
		line-height: 24px;
	}
}